{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/chooser_item

    Chooser item.

    Example context (json):
    {
        "id": "1",
        "paramname": "param",
        "value": "1",
        "label": "item one",
        "description": "description one"
    }
}}
<div role="gridcell" tabindex="0" aria-label="{{label}}" class="module" data-region="chooser-option-container">
    <div class="modinfo" data-region="chooser-option-info-container">
        <span class="modicon">
            <a href="{{value}}" aria-label="{{#str}} addnew, moodle, {{label}} {{/str}}" tabindex="0" data-action="add-chooser-option">
                {{#icon}}
                    {{>core/pix_icon}}
                {{/icon}}
            </a>
        </span>
        <span class="modname">{{label}}</span>
        <div class="modactions" role="menubar" data-region="chooser-option-actions-container">
            <span class="showmodsummary" data-group="chooser-option-action" data-action="show-option-summary" tabindex="0" aria-label="{{#str}} moreinfo {{/str}}" style="margin-top: 10px; color: #1177d1; pointer: cursor;">
                {{#pix}} docs, core {{/pix}}
            </span>
            <span class="showmodsummary" data-group="chooser-option-action" data-action="show-option-summary" tabindex="0" aria-label="{{#str}} moreinfo {{/str}}" style="margin-top: 10px; color: #1177d1; pointer: cursor;">
                {{#pix}} docs, core {{/pix}}
            </span>
        </div>
    </div>
    <div class="modsummary" data-region="chooser-option-summary-container" aria-labelledby="modsummary_label" aria-describedby="modsumary_desc">
        <div class="content" data-region="chooser-option-summary-content-container" style="padding: 2rem 3rem; text-align: left; overflow-y: auto;">
            <div class="heading" style="margin-bottom: 25px;">
                <h5 id="modsummary_label">
                    {{#icon}}
                        {{>core/pix_icon}}
                    {{/icon}}
                    {{label}}
                </h5>
            </div>
            <div id="modsumary_desc" class="description" style="margin-bottom: 25px;">
                {{{description}}}
            </div>
        </div>
        <div class="actions" data-region="chooser-option-summary-actions-container" style="width: 100%; padding: 1rem 2rem; border-top: 1px solid #dee2e6; display: flex; justify-content: space-between;">
            <button data-action="close-chooser-option-summary" class="closemodsummary btn btn-secondary" tabindex="-1">
                {{#str}} back {{/str}}
            </button>
            <a href="{{value}}" data-action="add-chooser-option" class="addmodule btn btn-primary" style="justify-self: end;" tabindex="-1">
                {{#str}} add {{/str}}
            </a>
        </div>
    </div>
</div>