Unstaged changes after reset:
M	grade/report/singleview/classes/local/screen/grade_select.php
M	grade/report/singleview/classes/local/screen/user_select.php
D	grade/report/singleview/classes/output/gradeitem_action_bar.php
D	grade/report/singleview/classes/output/user_action_bar.php
M	grade/report/singleview/classes/report/singleview.php
M	grade/report/singleview/index.php
M	grade/report/singleview/renderer.php
M	grade/report/singleview/styles.css
M	grade/report/singleview/templates/action_bar.mustache
M	grade/report/singleview/templates/grade_item_selector.mustache
M	grade/report/singleview/templates/page_toggler.mustache
D	grade/report/singleview/templates/user_action_bar.mustache
M	grade/report/singleview/templates/zero_state_grade.mustache
M	grade/report/singleview/templates/zero_state_user.mustache
