<div class="w-100 page-toggler">
    <div class="btn-group pull-right" role="group" aria-label="TODO">
        <a href="{{userpage}}" type="button" class="btn btn-outline-primary {{#userpageactive}}active{{/userpageactive}}">
            {{#str}}users, gradereport_singleneo{{/str}}
        </a>
        <a href="{{gradepagepage}}" type="button" class="btn btn-outline-primary {{#gradepagepageactive}}active{{/gradepagepageactive}}">
            {{#str}}gradeitems, gradereport_singleneo{{/str}}
        </a>
    </div>
</div>
