{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_quiz/quiz_overrides
    Actions panel at the bottom of the assignment grading UI.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * see mod/quiz/classes/output/overridesaction.php
    Example context (json):
    {
        "overrides": {
            "options": [{
                    "name": "User overrides",
                    "value": "/mod/quiz/overrides.php?cmid=71&mode=user"
                },
                {
                    "name": "Group overrrides",
                    "value": "/mod/quiz/overrides.php?cmid=71&mode=group"
                }
            ]
        },
        "useroverride": false,
        "groupoverride": true,
        "actionvalue": "addgroup",
        "cmidvalue": 144,
        "btnid": "single_button6177806fcc363",
        "btnname": "Add group override",
        "request": "post",
        "sesskey": "bkYFRJfAbn",
        "url": "http://localhost/moodle/mod/quiz/overrides.php",
        "disablebtn" : "disabled"
    }
}}
<div class="container-fluid mb-3">
    <div class="row">
        {{#overrides}}
            <div class="col-xs-6">
                {{>core/url_select}}
            </div>
        {{/overrides}}
        {{#canedit}}
            {{#useroverride}}
                <div class="col-sm-6">
                    <div class="singlebutton">
                        <form method="{{request}}" action="{{url}}">
                            <input type="hidden" name="action" value="{{actionvalue}}">
                            <input type="hidden" name="cmid" value="{{cmidvalue}}">
                            <button type="submit" class="btn btn-primary"
                                    id="{{btnid}}"
                                    title=""
                                    {{disablebtn}}
                            >{{btnname}}</button>
                        </form>
                    </div>
                </div>
            {{/useroverride}}
            {{#groupoverride}}
                <div class="col-sm-6">
                    <div class="singlebutton">
                        <form method="{{request}}" action="{{url}}">
                            <input type="hidden" name="action" value="{{actionvalue}}">
                            <input type="hidden" name="cmid" value="{{cmidvalue}}">
                            <input type="hidden" name="sesskey" value="{{sesskey}}">
                            <button type="submit" class="btn btn-primary"
                                    id="{{btnid}}"
                                    title=""
                                    {{disablebtn}}
                            >{{btnname}}</button>
                        </form>
                    </div>
                </div>
            {{/groupoverride}}
        {{/canedit}}
    </div>
</div>
