{{< core/search_input_auto }}
    {{$label}}{{#str}}
        searchactivities, core
    {{/str}}{{/label}}
    {{$placeholder}}{{#str}}
        search, core
    {{/str}}{{/placeholder}}
{{/ core/search_input_auto }}

<div class="searchresultscontainer" data-region="search-results-container" aria-live="polite"></div>
