<div class="searchresultitemscontainer-wrapper">
    <div class="searchresultitemscontainer d-flex flex-wrap mw-100 position-relative p-1" role="menubar" data-region="search-result-items-container">
        {{#searchresults}}
            {{>gradereport_user41/searchitem}}
        {{/searchresults}}
    </div>
</div>
