<div class="mx-auto w-50 text-center">
    <img src="{{imglink}}" alt="Temp" class="w-50 h-50 mb-4">
    <h4>{{#str}}selectuser, gradereport_user41{{/str}}</h4>
    <p>{{#str}}selectuserinstructions, gradereport_user41{{/str}}</p>
    <a href="" class="btn btn-light border-secondary mattbutton" data-courseid={{courseid}} data-searchtype="user">{{#str}}selectuserlink, gradereport_user41{{/str}}</a>
</div>
