<li class="nav-item">
    <a class="nav-link {{#isactive}}active{{/isactive}} {{#classes}}{{.}} {{/classes}}" {{#action}}href="{{{action}}}"{{/action}} role="menuitem" {{#isactive}}aria-current="true"{{/isactive}}>
        {{{text}}}
    </a>
</li>