.navigation.moremenu {
    height: $moremenu-height + 2; /* Add a 2px offset of height to cover the two 1px borders.*/
    border-color: $gray-300;
    .dropdown-toggle::after {
        display: none;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .nav-link {
        border-right: none;
        border-bottom: solid 3px transparent;
        border-left: none;
        border-top: none;
        @include hover-focus-active() {
            @include hover-navbar();
        }
        &.active {
            font-weight: bold;
        }
    }
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
        background: transparent;
        @include hover-navbar();
    }

    .dropdown-item[aria-current="true"]:before {
        content: '';
    }
    .nav-link[data-toggle="tab"] {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-link[data-toggle="tab"]::after {
        content: attr(data-text);
        content: attr(data-text) / "";
        height: 0;
        visibility: hidden;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        font-weight: bold;

        @media speech {
            display: none;
        }
    }
}
