.tertiary-navigation {
    padding-top: 10px;

    .navitem {
        display: flex;
        margin-bottom: 25px;
    }

    & > a.btn,
    & > div.urlselect {
        margin-bottom: 25px;
    }

    .navitem:not(:last-child) {
        margin-right: 20px;
    }
}

.tertiary-navigation-selector {
    .dropdown-toggle {
        color: inherit;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .dropdown-menu {
        .dropdown-header {
            font-weight: normal;
            font-size: inherit;
            color: $gray-500;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.25rem;
        }

        .dropdown-group {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .dropdown-item {
            padding: 0.25rem 2rem;

            &[aria-current="true"],
            &.active {
                background-color: transparent;
                color: $dropdown-link-color;
                font-weight: bold;

                &:focus-within,
                &:hover {
                    background-color: $dropdown-link-active-bg;
                    color: $dropdown-link-active-color;
                    a {
                        color: $dropdown-link-active-color;
                    }
                }

                &:before {
                    content: $fa-var-check;
                    padding-left: 0.6rem;
                }
            }
        }
    }
}

@media print {
    .tertiary-navigation {
        display: none;
    }
}
