.tertiary-navigation {
    padding-top: 10px;

    &.full-width-bottom-border {
        width: calc(100% + 1rem + 30px);
        margin-left: calc(-0.5rem - 15px);
        margin-right: calc(-0.5rem - 15px);
        border-bottom: 1px solid $gray-300;
        margin-bottom: 25px;

        @include media-breakpoint-down(sm) {
            width: calc(100% + 1rem);
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }

        .row {
            margin: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    .navitem,
    .navitem-divider {
        display: flex;
        margin-bottom: 25px;
    }

    .navitem-divider {
        width: 1px;
        background-color: $gray-300;
    }

    & > a.btn,
    & > div.urlselect {
        margin-bottom: 25px;
    }

    .navitem:not(:last-child),
    .navitem-divider:not(:last-child) {
        margin-right: 20px;
    }
}

.tertiary-navigation-selector {
    .dropdown-toggle {
        color: inherit;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .dropdown-menu {
        .dropdown-header {
            font-weight: normal;
            font-size: inherit;
            color: $gray-600;
            padding: 0.5rem 1rem 0.25rem 1rem;
        }

        .dropdown-group {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .dropdown-item {
            padding: 0.25rem 2rem;

            &[aria-current="true"],
            &.active {
                background-color: transparent;
                color: $dropdown-link-color;
                font-weight: bold;

                &:focus-within,
                &:hover {
                    background-color: $dropdown-link-active-bg;
                    color: $dropdown-link-active-color;
                    a {
                        color: $dropdown-link-active-color;
                    }
                }

                &:before {
                    content: $fa-var-check;
                    padding-left: 0.6rem;
                }
            }
        }
    }
}

@media print {
    .tertiary-navigation {
        display: none;
    }
}
